<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wan.hollout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".components.ApplicationLoader"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:allowBackup, android:label">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ad592a04b832e238a390d851afaba5226e6f6632" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.WelcomeActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScreen.Light" />

        <activity
            android:name=".ui.activities.AboutUserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScreen.Light"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name=".ui.services.AppInstanceDetectionService"
            android:enabled="true" />

        <receiver android:name=".components.ConnectivityChangedReceiver">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.activities.CommentsActivity" />

    </application>

</manifest>